@import url("/assets/fonts/Ubuntu/Ubuntu-R.ttf");
@import url("/assets/fonts/Ubuntu-Nomo/UbuntuMono-R.ttf");
body[data-mode='light'] {
  --theme-color: #b8e098;
  --theme-color-light-1: #d4ecc1;
  --theme-color-light-2: #c6e6ad;
  --theme-color-light-3: #cde9b7;
  --theme-color-transparent-1: rgba(184,224,152,0.6);
  --theme-color-dark-1: #a4d77b;
  --background-color: #fff;
  --background-color-transparent-1: rgba(255,255,255,0.85);
  --background-color-transparent-2: rgba(255,255,255,0.7);
  --background-color-transparent-3: rgba(255,255,255,0.4);
  --background-color-grey: #e8e8e8;
  --background-color-grey-light-1: #f1f1f1;
  --background-color-grey-light-2: #f5f5f5;
  --background-color-grey-transparent: rgba(232,232,232,0.25);
  --background-color-grey-transparent-2: rgba(232,232,232,0.15);
  --background-color-body: #f8f8f8;
  --background-color-page: rgba(255,255,255,0.85);
  --font-color: #373737;
  --font-color-invert: #fff;
  --font-color-navbar: #4b4b4b;
  --font-color-navbar-custom: #f8faf5;
  --font-color-light-1: #737373;
  --font-color-light-2: #9b9b9b;
  --font-color-light-3: #cdcdcd;
  --link-hover-font-color: #fff;
  --banner-background: url("/assets/images/9fjhx9j1.webp");
  --banner-font-color: #22381e;
  --nav-background-color: rgba(255,255,255,0.188);
  --card-border-color: #d7d7d7;
  --meow-box-shadow: 1px 1px 1px 1px rgba(42,42,42,0.051);
  --meow-card-shadow: 0px 3px 8px 6px rgba(42,42,42,0.051);
}
body[data-mode='dark'] {
  --theme-color: #2e5936;
  --theme-color-light-1: #6bb278;
  --theme-color-light-2: #488a54;
  --theme-color-light-3: #54a363;
  --theme-color-transparent-1: rgba(46,89,54,0.6);
  --theme-color-dark-1: #295031;
  --background-color: #2d2d2d;
  --background-color-transparent-1: rgba(45,45,45,0.88);
  --background-color-transparent-2: rgba(45,45,45,0.7);
  --background-color-transparent-3: rgba(45,45,45,0.4);
  --background-color-grey: #454545;
  --background-color-grey-light-1: #3e3e3e;
  --background-color-grey-light-2: #373737;
  --background-color-grey-transparent: rgba(69,69,69,0.25);
  --background-color-grey-transparent-2: rgba(69,69,69,0.35);
  --background-color-body: #202124;
  --background-color-page: rgba(45,45,45,0.7);
  --font-color: #bebec6;
  --font-color-invert: #fcfcfc;
  --font-color-navbar: #bebec6;
  --font-color-navbar-custom: #eef2ef;
  --font-color-light-1: #9595a2;
  --font-color-light-2: #808090;
  --font-color-light-3: #5b5b67;
  --link-hover-font-color: #2d2d2d;
  --banner-background: url("/assets/images/blog-background.jpg");
  --banner-font-color: #d6e4dd;
  --nav-background-color: transparent;
  --card-border-color: #3b3b3b;
  --meow-box-shadow: 1px 1px 1px 1px rgba(187,187,187,0.012);
  --meow-card-shadow: none;
}
:root {
  --meow-text-shadow-title: 2px 2px 1.5px rgba(0,0,0,0.25);
  --meow-text-shadow: 2px 2px 1px rgba(0,0,0,0.125);
  --meow-text-shadow-light: 1.2px 1.2px 1px rgba(0,0,0,0.125);
  --meow-main-width: 1400px;
  --meow-page-width: 1100px;
  --meow-navbar-height: 60px;
  --meow-font-default: 'Ubuntu', 'Noto Sans SC', 'PingFang SC', 'Microsoft YaHei', Sans-serif, Serif;
  --meow-font-title: 'Ubuntu', 'Noto Sans SC', 'PingFang SC', 'Microsoft YaHei', Sans-serif, Serif;
  --meow-font-code: 'Ubuntu Nomo', 'Ubuntu', 'Noto Sans SC', 'SF Mono', 'vivo Sans', 'PingFang SC', 'Microsoft YaHei', Courier, Consolas, Sans-serif;
}
